.show-playlist.fa.fa-angle-double-down.hidden-xs(ng-click="showPlaylist()")
.playlist.grid-container
  .sub-grid(ng-repeat='video in videos')
    .image-holder(
      ng-click="play($index)"
    )
      img(
        ng-src='{{video.thumbnail_large}}'
      )

      .img-overlay.hidden-xs
        .title {{video.title}}
        .user {{video.user_name}}

        .backdrop

