.show-playlist {
  cursor: pointer;
}

.playlist {

  .image-holder {

    cursor: pointer;
    border: 1px solid #1ab7ea;
    position: relative;

    .img-overlay {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      color: white;

      font-size: 18px;

      .title {
        position: relative;
        top: 50%;
        text-align: center;
        z-index: 1;
        opacity: 0;
      }

      .user {
        position: absolute;
        bottom: 5px;
        right: 10px;
        z-index: 1;
        opacity: 0;
      }

      .backdrop {
        background: black;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
      }

      .backdrop, .title, .user  {
        -webkit-transition: all 500ms ease-out;
        -moz-transition: all 500ms ease-out;
        -o-transition: all 500ms ease-out;
        transition: all 500ms ease-out;
      }

      &:hover {
        .user, .title {
          opacity: 1;
        }

        .backdrop {
          opacity: 0.6;
        }
      }
    }

    & img {
      width: 100%;
    }

  }
}

.grid-container{
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
  /*
    Weird issue about opacity transition and columns
    See: https://code.google.com/p/chromium/issues/detail?id=177556
  */
  -webkit-column-break-inside:avoid;
  -moz-column-break-inside:avoid;
  -o-column-break-inside:avoid;
  -ms-column-break-inside:avoid;
  column-break-inside:avoid;
  -webkit-backface-visibility:hidden;
}

.sub-grid{
  display: inline-block;
  width: 100%;
  /*
    Weird issue about opacity transition and columns
    See: https://code.google.com/p/chromium/issues/detail?id=177556
  */
  -webkit-column-break-inside:avoid;
  -moz-column-break-inside:avoid;
  -o-column-break-inside:avoid;
  -ms-column-break-inside:avoid;
  column-break-inside:avoid;
  -webkit-backface-visibility:hidden;
}
